/* Banner */
.store-detail-banner {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-end; 
}

.store-detail-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 0;               
  pointer-events: none;    
}


.store-detail-banner-content {
  position: relative;
  z-index: 1;
  padding: 3rem;
  color: white;
  max-width: 100%;
  left: 5rem;
  bottom: 5rem;
}

.store-detail-title {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
  color: white;
}

.store-detail-desc {
  font-size: 1.5rem;
  max-width: 800px;
  padding: 10px 0;
  color: white;
}

/* Nút */
.btn_style_1 {
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}


.store-detail-banner-content {
  position: relative;
  z-index: 1;
  padding: 0rem;
}

.store-detail-banner-content h1 {
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
}

.store-detail-banner-content p {
  font-size: 1.2rem;
  line-height: 1.5;
}



/* Info section */
.store-info {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  margin-bottom: 3rem;
}

.store-info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.store-info p {
  margin-bottom: 0.8rem;
  line-height: 1.6;
}

.store-info .contact a {
  color: #007bff;
  text-decoration: none;
}

.store-info .contact a:hover {
  text-decoration: underline;
}


.store-info h2 {
  padding: 5px;
  color: black;
  font-size: 4rem;
}
.store-info p {
  color: black;
  font-size: 1.5rem;
}




/* Tablet */
@media (max-width: 1024px) {
  .store-detail-banner {
    height: 50vh;
  }

  .store-detail-banner-content h1 {
    font-size: 2rem;
  }

  .store-detail-banner-content p {
    font-size: 1rem;
  }

  .store-info h2 {
    font-size: 3rem;
  }

  .store-info p {
    font-size: 1.2rem;
  }

  .store-card {
    flex-direction: column;
    padding: 20px;
  }

  .store-card-image img {
    width: 100%;
    margin-bottom: 20px;
  }

  .store-card-content h2 {
    font-size: 2.2rem;
  }

  .store-card-content p {
    font-size: 1.2rem;
  }

}

/* Mobile */
@media (max-width: 768px) {
  .store-detail-banner {
    height: 100vh;
  }

  .store-detail-banner-content h1 {
    font-size: 1.5rem;
  }

  .store-detail-banner-content p {
    font-size: 0.9rem;
  }

  .store-info h2 {
    font-size: 2rem;
  }

  .store-info p {
font-size: 1rem;
  }

  .store-card {
    flex-direction: column;
    padding: 15px;
  }

  .store-card-image img {
    width: 100%;
    border-radius: 20px;
  }

  .store-card-content h2 {
    font-size: 1.8rem;
  }

  .store-card-content p {
    font-size: 1rem;
  }

}