.hidden{
    display: none;
}
.hidden-back{
    display: block;
}
.home-banner {
    width: 100%;    

    height: 100vh;    
    background-image: url('/quality_80.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: flex-end; 
}
.home-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,  
        rgba(0, 0, 0, 0) 50%,    
        rgba(0, 0, 0, 1) 100%   
    );
}
.banner-content {
    color: #fff;
    padding: 5rem 5rem;
    z-index: 1;
}
.banner-content h1{
    font-size: 6.5rem;
}
.banner-content p{
    font-size: 2.2rem;
}
.studio_fav{
    margin-top: 2rem;
}
.studio_fav h1{
    font-size: 4.5rem;
    font-weight: 500;
}
.studio_fav p{
    font-size: 1.6rem;
    margin: 0;
}
.row_studio_fav_content {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    margin-top: 2rem;
}
.col_studio_fav_1 {
    justify-self: start; 
}
.col_studio_fav_2 {
    justify-self: end; 
}

.row_studio_fav_product {
    display: flex;
    flex-wrap: wrap;
}

.studio_card {
    border-radius: 0.5rem;
    transition: transform 0.2s;
    margin-top: 4.5rem;
}
.studio_card h3 ,
.studio_card p{
    padding-left: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}
.studio_card p{
    color: grey;
}
.studio_img_wrapper:hover .studio_img {
    transform: scale(1.05); 
}
.studio_img {
    width: 100%;
    height: auto;   
    border-radius: 2.5rem;
    
    cursor: pointer;
    overflow: hidden; 
    transition: transform 0.3s ease;
}
.studio_img img{
    width: 100%;
    height: auto;
    overflow: hidden; 
    border-radius: 2.5rem;

}
.studio_img_wrapper {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden; 
    border-radius: 2.5rem;
    margin: 0 auto;
}

.studio_status {
    position: absolute;
    top: 2rem;
    left: 3rem;
    background-color: var(--white-color); 
    color: black    ;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    text-transform: uppercase;
}
.home-banner-2 {
    width: 100%;    
    height: 80vh;    
    background-image: url('/bannerhome2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: flex-end; 
    margin-top: 8rem;
}
.home-banner-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,  
        rgba(0, 0, 0, 0) 50%,    
        rgba(0, 0, 0, 1) 100%   
    );
}
.banner-content-2 {
    color: #fff;
    z-index: 1;
    padding-bottom: 15rem;
    padding-left: 5rem;
}
.banner-content-2 h1{
    font-size: 5.5rem;
    padding-bottom: 3rem;
}
.banner-content-2 p{
    font-size: 1.5rem;
    max-width: 60rem;
    padding-bottom: 3rem;

}
.home-newsletter {
    margin-top: 8rem;
}   
.newsletter-content-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter-img img{
    max-width: 70rem;
    width: 100%;
    border-radius: 2rem;
    display: block;
    margin: 0 auto;
}
.newsletter-content-row .btn_style_1{
    border: 1px solid grey;
    border-radius: 0.6rem;
    width: 13rem;
    height: 3rem;
}
.newsletter-content h3{
    font-size: 3.5rem;
    font-weight: 600
}
.newsletter-content p{
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.contact-us{
    margin-top: 8rem;
    text-align: center;
}
.contact-content p{
    max-width: 90rem;
    margin: 2rem auto;
    font-size: 1.5rem;
}
.contact-buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
}
.contact-buttons .btn_style_3{
    border-radius: 10rem;
}

@media screen and (max-width: 1060px) {
    .row_studio_fav_content {
    grid-template-columns: 1fr; 
    }
    .banner-content h1 {
        font-size: 4.5rem;
    }
    .banner-content p {
        font-size: 1.2rem;
    }
    .banner-content-2 {
        padding-bottom: 10rem;
        padding-left: 0rem;
    }
    .banner-content-2 h1 {
        font-size: 4.5rem;
    }
    .banner-content-2 p {
        font-size: 1.2rem;
    }
    .newsletter-content-row{
        margin-top: 3rem;
 
    }
    .newsletter-content{
        padding-top: 5rem;
    }
    .hidden{
    display: block;
    }
    .hidden-back{
    display: none;
    }
}
@media screen and (max-width: 768px) {
    .banner-content h1 {
        font-size: 4.5rem;
    }
    .banner-content p {
        font-size: 1.2rem;
    }
    .banner-content-2 {
        padding-bottom: 10rem;
        padding-left: 0rem;

    }
    .banner-content-2 h1 {
        font-size: 3.5rem;
    }
    .banner-content-2 p {
        font-size: 1.5rem;
    }
    .newsletter-content h3{
        font-size: 2.5rem;
    }
    .newsletter-content p{
        font-size: 1.5rem;
    }
    .contact-us h1{
        font-size: 3.5rem;
    }
    .contact-us p{
        font-size: 1.5rem;
    }
}