.navitem {
  position: relative;
}

.navitem__root {
  background: none;
  border: 0;
  cursor: pointer;
  gap: 6px;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  transition: color 1s;
  overflow: hidden;
  padding: 0;
  text-align: left;
}
/* Đường underline */
.navitem__root::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.3rem;
  width: 0;
  height: 2px;
  background: var(--black-color);
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-50%);
}

/* Hover tạo hiệu ứng underline */
.navitem__root:hover::after {
  width: 100%; /* Khi hover sẽ có underline */
}

.inner-header .navitem__root:hover {
  color: var(--black-color);
}

.home-header:hover .navitem__root {
  color: var(--black-color);
  transition: color 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.home-header:hover .navitem__root svg {
  fill: var(--white-color);
  transition: fill 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.navitem__caret {
  display: none;
}

.navitem__dropdown {
  position: fixed;
  left: 0;
  top: 10rem;
  width: 100vw;
  background: rgb(246, 246, 246);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.06);
  padding: 1rem 2rem 5rem 2rem;
  z-index: -1;
}

.dropdown__inner {
  width: 100%;
}

.dropdown__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
}

.dropdown__col h4 {
  font-size: 16px;
  font-weight: 600;
  color: #6b7280;
  margin: 2rem 0;
}

.dropdown__col ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.dropdown__col li {
  margin: 0 0;
}

.dropdown__col a {
  text-decoration: none;
  color: #111827;
  font-size: 16px;
  margin: 0 0;
}

.dropdown__col a:hover {
  text-decoration: underline;
}

.muted {
  color: #9ca3af;
}

.view-all {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #111827;
  text-decoration: none;
  font-weight: 600;
}

.view-all:hover {
  text-decoration: underline;
}
.home-header .navitem__root
{
  color: var(--white-color);
  fill: var(--white-color);
}