
.link_page {
  margin-bottom: 2rem;
  color:rgb(83, 83, 83);
}
.link_page p {
  margin: 0;
}

.link_page a:hover {
  text-decoration: underline;
}


.about-container {
   
  margin-top: 40px;   
  padding-left: 40px;  
  padding-right: 20px; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  
}

.about-container h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 25px;
}

.about-container p {
  font-size: 18px;
  margin-bottom: 25px;
}


.about-container .intro {
  font-size: 20px;
  font-weight: 400;
  color: #222;
}


.about-container .highlight {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}


.interview-container {
  margin-top: 40px;   
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6rem;  
}

.interview-image img {
  width: 650px;       
  height: auto;
  border-radius: 16px; /* bo góc nhẹ */
  object-fit: cover;
}

.interview-content .quote {
  font-size: 22px;
  font-style: italic;
  color: #000;
  margin-bottom: 25px;
  line-height: 1.6;
}
.interview-actions {
  display: flex;
  align-items: center;
  gap: 20px;   /* khoảng cách giữa button và logo */
}



.interview-btn:hover {
  background: #000;
  color: #fff;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.drs-container {
  display: flex;
  align-items: center;
  background: #000;
  margin-top: 60px;
  padding: 40px;
  color: #fff;
  
  gap: 40px;
}

.drs-image img {
  width: 500px;
  max-width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.drs-content {
  flex: 1;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drs-text {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 25px;
  color: #fff;
}

.drs-actions {
  display: flex;
  align-items: center;
  gap: 25px;
}



.drs-btn:hover {
  background: #fff;
  color: #000;
}

.drs-logo {
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: 500;
}


@media (max-width: 768px) {
  .interview-container {
    flex-direction: column;
  }

  .interview-image img {
    width: 100%;
    height: auto;
  }

  .interview-content {
    padding: 20px;
  }

  .about-container {
    padding-left: 20px; 
  }

  .link_page {
    padding-left: 20px;
  }


  .interview-container {
    flex-direction: column;
    text-align: center;
  }

  .interview-image img {
    width: 100%;
  }

  .interview-actions {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .logo {
    font-size: 22px;
  }

    .drs-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .drs-content {
    padding-left: 0;
    margin-top: 20px;
  }

  .drs-actions {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
  }

  .drs-logo {
    font-size: 18px;
    letter-spacing: 4px;
  }
}
